<script type="text/javascript">
	$(function(){
		//点击清空抽奖人按钮
		$("#del").click(function(){
			redriect("/yuanku/wechatMan-delwechatname.html");
			$.ajax({
				type:"post",
				url:"/yuanku/wechatMan-delwechatname.html",
				success: function( text ){
					if( text ){
						redriect("/yuanku/wechatMan-getThePeople.html");
					}else{
						alert("清空抽奖人失败");
					}
				},
				async:true
			});
		});
		
		//点击刷新获取参与人列表
		$("#getperson").click(function(){
			redriect("/yuanku/wechatMan-getThePeople.html");
		});
		
		//点击开始抽奖按钮
		$("#startgame").click(function(){
			window.open("/yuanku/view/wechat/lottergame.html");
		});
		//点击添加关键人按钮
		$("#sum").click(function(){
			var flag = true;
			if( $("#thekey").val() == "" || $("#thekey").val().length == 0 ){
				flag = false;
			}else if( $("#content").val() == "" || $("#content").val().length == 0 ){
				flag = false;
			}
			
			if( flag){
				$.ajax({
					type:"post",
					data:{"thekey": $("#thekey").val(),"content": $("#content").val()},
					url:"/yuanku/wechatMan-addTheKey.html",
					success: function( text ){
						if( text ){
							BsModel.OpenModel({
								"title":'信息提示！',
								"content":"添加关键字成功！"
							});
						}else{
							BsModel.OpenModel({
								"title":'信息提示！',
								"content":"添加关键字失败！"
							});
							
						}
					},
					async:true
				});
			}else{
				BsModel.OpenModel({
								"title":'信息提示！',
								"content":"必须添加关键字和回复内容！"
							});
				return;	
			}
		});
	});
	
	
</script>

<div class="panel panel-primary margin-base">
  	<!-- Default panel contents -->
  	<div class="panel-heading"><h3 class="panel-title"><label>抽奖小游戏</label></h3></div>
  	<div class="panel-body">
  		<form class="form-inline" style="margin-bottom: 10px;">
  			<{foreach $data.reply as $thegame}>
			<input type="text" class="form-control" id="thekey" placeholder="设置关键字" value="<{if isset($thegame)}><{$thegame.thekey}><{/if}>">
			<input type="text" class="form-control" id="content" placeholder="设置回复内容" value="<{if isset($thegame)}><{$thegame.content}><{/if}>">
			<button type="button" class="btn btn-info btn-sm paddingLR" id="sum">
				<span class="glyphicon glyphicon-plus" aria-hidden="true" id=""></span> 提交关键字
			</button>	
			<button type="button" class="btn btn-info btn-sm paddingLR" id="getperson">
				<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> 刷新
			</button>
			<button type="button" class="btn btn-info btn-sm paddingLR" id="startgame">
				<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> 开始抽奖
			</button>
			<button type="button" class="btn btn-info btn-sm paddingLR" id="del">
				<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> 清空抽奖人名单
			</button>
			<{/foreach}>
		</form>
  	</div>
  	<div class="panel-heading"><h3 class="panel-title"><label>抽奖人名单</label></h3></div>
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
  				<th >抽奖人ID</th>
  				<th >微信名</th>
  				<th >头像</th>
  				<th >加入时间</th>
			</tr>
		</thead>
		<tbody>
			<{foreach $data.data as $game}>
			<tr>
				<td><{if isset($game)}><{$game.gpid}><{/if}></td>
				<td><{if isset($game)}><{$game.uname}><{/if}></td>
				<td><img style="width:50px;height: 50px;" src="<{if isset($game)}><{$game.headimg}><{/if}>"></td>
				<td><{if isset($game)}><{$game.addtime}><{/if}></td>
			</tr>
			<{/foreach}>
		</tbody>
	</table>
  	<div class="panel-footer">
		<{include file="admin/pages.html" url="/yuanku/wechatMan-getThePeople.html" }>
	</div> 
</div>