<!--添加我的简历-->
<div class="page">
	<script type="text/javascript">
		$(function(){
			$(".cxtresume input").each(function(){
				$(this).attr("readonly","readonly");
			});
			$(".cxtresume textarea").each(function(){
				$(this).attr("readonly","readonly");
			});
			$(".cxtresume .weui_cells_title a").click(function(){
				if( $(this).attr("data") == "1" ){
					$(".cxtresume input").each(function(){
						$(this).removeAttr("readonly");
					});
					$(".cxtresume textarea").each(function(){
						$(this).removeAttr("readonly");
					});
					$(this).html("保存");
					$(this).css("background-color","green");
					$(this).attr("data","2");
				}else{
					var data = {"vid":$("#resvid").val(),"name":$("#rename").val(),"sex":$("#resex").val(),"heighedu":$("#reheighedu").val(),
						"workexp":$("#reworkexp").val(),"city":$("#recity").val(),"mobile":$("#remobile").val(),
						"email":$("#reemail").val()," targetjob":$("#retargetjob").val(),"companyname":$("#recompanyname").val(),
						"position":$("#yourposition").val(),"entrytime":$("#entrytime").val(),"leavetime":$("#leavetime").val(),
						"workcontent":$("#workcontent").val(),"schoolname":$("#sname").val(),"specialty":$("#specialty").val(),
						"graduation":$("#gra").val(),"projectname":$("#projectname").val(),"responsibility":$("#responsibility").val(),
						"starttime":$("#statime").val(),"endtime":$("#entime").val(),"projectinfo":$("#projectinfo").val(),
						"skill":$("#skill").val(),"myselfinfo":$("#myselfinfo").val()};
					$('#loadingToast').loadingShow();
					$.ajax({
						type:"post",
						url:"cxt-doaddresume.html",
						data: data,
						success: function( text ){
							$('#loadingToast').hide();
							if( text == false){
								$("#dialog").dialog("提示","添加或者修改数据出错");
							}else{
								$(".cxtresume .weui_cells_title a").html("修改");
								$(".cxtresume .weui_cells_title span").css("background-color","red");
								$(".cxtresume .weui_cells_title span").attr("data","1");
								$(".cxtresume input").each(function(){
									$(this).attr("readonly","readonly");
								});
								$(".cxtresume textarea").each(function(){
									$(this).attr("readonly","readonly");
								});
							}
						},
						async:true
					});
				}
			});
		});
	</script>
	<div class="bd">
		<div class="weui_cells_title">个人信息<a data="1" href="javascript:void(0);" class="weui_btn weui_btn_mini weui_btn_primary">修改</a></div>
        <div class="weui_cells">
            <div class="weui_cell">
                <div class="weui_cell_hd"><label>姓名</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" id="rename" type="text" value="<{if isset($resume)}><{$resume.name}><{/if}>"/>
                    <input type="hidden" name="resvid" id="resvid" value="<{if isset($resume)}><{$resume.vid}><{/if}>" />
                </div>
            </div>
        </div>
        <div class="weui_cells">
            <div class="weui_cell">
                <div class="weui_cell_hd"><label>性别</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" id="resex" type="text" value="<{if isset($resume)}><{$resume.sex}><{/if}>"/>
                </div>
            </div>
        </div>
        <div class="weui_cells weui_cells">
            <div class="weui_cell">
                <div class="weui_cell_hd"><label>最高学历</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" id="reheighedu" type="text" value="<{if isset($resume)}><{$resume.heighedu}><{/if}>"/>
                </div>
            </div>
        </div>
        <div class="weui_cells weui_cells">
            <div class="weui_cell">
                <div class="weui_cell_hd"><label>工作年限</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" id="reworkexp" type="text" value="<{if isset($resume)}><{$resume.workexp}><{/if}>"/>
                </div>
            </div>
        </div>
        <div class="weui_cells weui_cells">
            <div class="weui_cell">
                <div class="weui_cell_hd"><label>所在城市</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" id="recity" type="text" value="<{if isset($resume)}><{$resume.city}><{/if}>"/>
                </div>
            </div>
        </div>
        <div class="weui_cells weui_cells">
            <div class="weui_cell">
                <div class="weui_cell_hd"><label>联系电话</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" id="remobile" type="tel" value="<{if isset($resume)}><{$resume.mobile}><{/if}>"/>
                </div>
            </div>
        </div>
        <div class="weui_cells weui_cells">
            <div class="weui_cell">
                <div class="weui_cell_hd"><label>联系邮箱</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" id="reemail" type="email" value="<{if isset($resume)}><{$resume.email}><{/if}>"/>
                </div>
            </div>
        </div>
        <div class="weui_cells weui_cells">
            <div class="weui_cell">
                <div class="weui_cell_hd"><label>期望工作</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" id="retargetjob" type="text" value="<{if isset($resume)}><{$resume.targetjob}><{/if}>"/>
                </div>
            </div>
        </div>
        <div class="weui_cells_title">工作经历</div>
        <div class="weui_cells weui_cells">
            <div class="weui_cell">
                <div class="weui_cell_hd"><label>公司名称</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" id="recompanyname" type="text" value="<{if isset($resume)}><{$resume.companyname}><{/if}>"/>
                </div>
            </div>
        </div>
        <div class="weui_cells weui_cells">
            <div class="weui_cell">
                <div class="weui_cell_hd"><label>你的职位</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" id="yourposition" type="text" value="<{if isset($resume)}><{$resume.position}><{/if}>"/>
                </div>
            </div>
        </div>
        <div class="weui_cells weui_cells">
            <div class="weui_cell">
                <div class="weui_cell_hd"><label>入职时间</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" id="entrytime" type="date" value="<{if isset($resume)}><{$resume.entrytime}><{/if}>"/>
                </div>
            </div>
        </div>
        <div class="weui_cells weui_cells">
            <div class="weui_cell">
                <div class="weui_cell_hd"><label>离职时间</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" id="leavetime" type="date" value="<{if isset($resume)}><{$resume.leavetime}><{/if}>"/>
                </div>
            </div>
        </div>
        <div class="weui_cells weui_cells">
            <div class="weui_cell">
                <div class="weui_cell_hd"><label>工作内容</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" id="workcontent" type="text" value="<{if isset($resume)}><{$resume.workcontent}><{/if}>"/>
                </div>
            </div>
        </div>
        <div class="weui_cells_title">教育经历</div>
        <div class="weui_cells weui_cells">
            <div class="weui_cell">
                <div class="weui_cell_hd"><label>学校名称</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" id="sname" type="text" value="<{if isset($resume)}><{$resume.schoolname}><{/if}>"/>
                </div>
            </div>
        </div>
        <div class="weui_cells weui_cells">
            <div class="weui_cell">
                <div class="weui_cell_hd"><label>所学专业</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" id="specialty" type="text" value="<{if isset($resume)}><{$resume.specialty}><{/if}>"/>
                </div>
            </div>
        </div>
        <div class="weui_cells weui_cells">
            <div class="weui_cell">
                <div class="weui_cell_hd"><label>毕业年份</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" id="gra" type="text" value="<{if isset($resume)}><{$resume.graduation}><{/if}>"/>
                </div>
            </div>
        </div>
        <div class="weui_cells_title">项目经历</div>
        <div class="weui_cells weui_cells">
            <div class="weui_cell">
                <div class="weui_cell_hd"><label>项目名称</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" id="projectname" type="text" value="<{if isset($resume)}><{$resume.projectname}><{/if}>"/>
                </div>
            </div>
        </div>
        <div class="weui_cells weui_cells">
            <div class="weui_cell">
                <div class="weui_cell_hd"><label>你的职责</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" id="responsibility" type="text" value="<{if isset($resume)}><{$resume.responsibility}><{/if}>"/>
                </div>
            </div>
        </div>
        <div class="weui_cells weui_cells">
            <div class="weui_cell">
                <div class="weui_cell_hd"><label>项目开始时间</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" id="statime" type="date" value="<{if isset($resume)}><{$resume.starttime}><{/if}>"/>
                </div>
            </div>
        </div>
        <div class="weui_cells weui_cells">
            <div class="weui_cell">
                <div class="weui_cell_hd"><label>项目结束时间</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" id="entime" type="date" value="<{if isset($resume)}><{$resume.endtime}><{/if}>"/>
                </div>
            </div>
        </div>
        <div class="weui_cells_title">项目描述</div>
        <div class="weui_cells weui_cells_form">
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <textarea class="weui_textarea" id="projectinfo" placeholder="请输入项目描述" rows="5"><{if isset($resume)}><{$resume.projectinfo}><{/if}></textarea>
                </div>
            </div>
        </div>
        <div class="weui_cells_title">技能评价</div>
        <div class="weui_cells weui_cells_form">
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <textarea class="weui_textarea" id="skill" placeholder="请输入技能评价" rows="5"><{if isset($resume)}><{$resume.skill}><{/if}></textarea>
                </div>
            </div>
        </div>
        <div class="weui_cells_title">自我描述</div>
        <div class="weui_cells weui_cells_form">
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <textarea class="weui_textarea" id="myselfinfo" placeholder="请输入自我描述" rows="5"><{if isset($resume)}><{$resume.myselfinfo}><{/if}></textarea>
                </div>
            </div>
        </div>
	</div>
	<div class="weui_cell_ft" style="height: 100px;"></div>
</div>