<{foreach $data as $d}>
	<div class="weui_cells">
		<a class="weui_cell js_grid" href="javascript:;" data-id="checkResume" data-rid="<{$d.rid}>">
		    <div class="weui_cell_hd">
		        <img src="<{$d.img}>" alt="icon" style="height:56px;margin-right: 10px;">
		    </div>
		    <div class="weui_cell_bd weui_cell_primary">
		    	<p class="ft_list1">工作经验：<span><{$d.workexp}></span></p>
		    	<p class="ft_list1">所在城市：<span><{$d.city}></span></p>
		    	<p class="ft_list1">最高学历：<span><{$d.heighedu}></span></p>
		    </div>
		    <div>
		        <p class="ft_list3"></p>
		    </div>
		</a>
	</div>
	<div class="weui_cells_tips">
		<{$d.name}>&nbsp;&nbsp;&nbsp;<{$d.mobile}>&nbsp;&nbsp;&nbsp;<{$d.email}>
	</div>
<{/foreach}>