<script type="text/javascript">
	var editor; //图片的上传
	$(function() {
		editor = KindEditor.editor({
			allowFileManager: true,
			filterMode: false
		});
		$('#fileup').click(function() {
			editor.loadPlugin('image', function() {
				editor.plugin.imageDialog({
					imageUrl: $('#imgurl').val(),
					clickFn: function(url, title, width, height, border, align) {
						$('#imgurl').val(url);
						editor.hideDialog();
						$("#img").attr({
							src: url,
							alt: "Poster"
						});
					}
				});
			});
		});
		//返回按钮
		$("#goback").click(function() {
				redriect($(this).attr("url"));
			})
			//	点击新增按钮或是更新按钮
		var pid = $("input[name=data-id]").val();
		$("#submit button").click(function() {
			if (pid) {
				//修改页面的跳转
				$.ajax({
					type:"post",
					url:"/yuanku/chuangManager-updateProject.html",
					data:{
						"pid":$("#data-id").val(),
						"pname":$("#pname").val(),
						"brief":$("#brief").val(),
						"poster":$("#imgurl").val()
					},
					dataType:"json",
					success:function( obj ){
						if(obj.code==1){//修改成功
							alert(obj.message);			
							redriect("/yuanku/chuangManager-initChapter.html");
						}else if(obj.code==0){//修改失败
							alert(obj.message);						
						}
					},
					async:true
				});
			} else {
				//增加跳转
				$.ajax({
					type: "post",
					url: "/yuanku/chuangManager-doaddProjec.html",
					data: {
						"pname": $("#pname").val(),
						"brief": $("#brief").val(),
						"imgurl": $("#imgurl").val()
					},
					success: function(text) {
						if (text == "true") {
							alert("项目增加成功！");
						} else if (text == "false") {
							alert("项目增加失败！");
						}
						redriect("/yuanku/chuangManager-initChapter.html");
					},
					async: true
				});
			}
		});
	})
</script>
<div class="panel panel-primary margin-base">
	<div class="panel-heading">
		<h3 class="panel-title"><label>项目添加</label>
			<span id="goback" url="/yuanku/chuangManager-initChapter.html" class="pull-right glyphicon glyphicon-circle-arrow-left" aria-hidden="true"style="cursor: pointer;"></span>
		</h3>

	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-lg-6">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="pname" class="col-lg-3 control-label">项目名称</label>
						<div class="col-lg-8">
							<input type="hidden" name="data-id" id="data-id" value="<{if !empty($data)}><{$data.pid}><{/if}>" />
							<input type="text" class="form-control" id="pname" name="pname" placeholder="项目名称" value="<{if !empty($data)}><{$data.pname}><{/if}>">
						</div>
						<div class="col-lg-5"></div>
					</div>
					<div class="form-group">
						<label for="brief" class="col-lg-3 control-label">项目简介</label>
						<div class="col-lg-8">
							<textarea name="" rows="8" cols="5" id="brief" class="form-control" value=""><{if !empty($data)}><{$data.brief}><{/if}></textarea>
						</div>
						<div class="col-lg-5"></div>
					</div>

					<div class="form-group">
						<label for="fileup" class="col-lg-3 control-label">项目海报</label>
						<div class="col-lg-8">
							<input type="button" id="fileup" value="选择图片" />
							<input type="text" id="imgurl" placeholder="选择图片" readonly="readonly" value="<{if !empty($data)}><{$data.poster}><{/if}>" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-5 col-sm-10" id="submit">
							<button type="button" class="btn btn-primary col-lg-2">
								<{if empty($data)}>
									新增
									<{else}>
										更新
										<{/if}>
							</button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-lg-6">
				<!--<img src="/yuanku/img/touxiang.jpg" id="img" width=/>-->
				<img src="<{if !empty($data)}><{$data.poster}><{/if}>" height="210px" width="430px" id="img" />
			</div>
		</div>
	</div>
</div>