<script type="text/javascript">
	$(function(){
		$('.mobilemore').click(function(){
			if($('.meun').is(':hidden')){
				$('.meun').show();
			}else{
				$('.meun').hide();
			}
		});
	});
</script>
<section class="bottom meun-nav">
	<ul>
		<li><a href="/yuanku/mobile-index.html">首页</a></li>
		<li><a href="/yuanku/mobile-second-1.html">实训消息</a></li>
		<li><a href="/yuanku/mobile-second-6.html">校企合作</a></li>
		<li><a href="/yuanku/mobile-second-3.html">实训项目</a></li>
		<li class="mobilemore" style="cursor: pointer;color:#FFFFFF;">更多&nbsp;<img src="/yuanku/img/tall-up-arrow.gif"/></li>
	</ul>
</section>
<div class="meun meun-nav" style="display: none;">
	<ul>
		<li><a href="/yuanku/mobile-enterJoinVip.html">我要报名</a></li>
		<li><a href="/yuanku/mobile-third-1.html">公司介绍</a></li>
		<li><a href="/yuanku/mobile-second-4.html">前沿资讯</a></li>
		<li><a href="/yuanku/mobile-second-8.html">名企就业</a></li>
		<li><a href="/yuanku/mobile-ourTeam.html">制作团队</a></li>
	</ul>
</div>