<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="/yuanku/css/mobile.css"/>
		<script src="/yuanku/js/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<header class="marginTop5"><img src="/yuanku/img/ourteam_title.png"/></header>
		<div class="ourTime_box1">
			<div class="ourTime_box2">
				<img src="/yuanku/img/zsy.jpg" width="60px" height="60px" /><br />
				<span>卓仕宇</span>
				<p>毕业于岭南职业技术学院</p>
				<p>负责后台会员管理模块,前端页面代码</p>
			</div>
		</div>
		<div class="ourTime_box1">
			<div class="ourTime_box2">
				<img src="/yuanku/img/zj.jpg" width="60px" height="60px" /><br />
				<span>黄驻军</span>
				<p>毕业于私立华联学院</p>
				<p>负责后台管理员模块,前端首页</p>
			</div>
		</div>
		<div class="ourTime_box1">
			<div class="ourTime_box2">
				<img src="/yuanku/img/hz.jpg" width="60px" height="60px" /><br />
				<span>华洲</span>
				<p>毕业于广东交通职业技术学院</p>
				<p>负责前端首页设计</p>
			</div>
		</div>
		<div class="ourTime_box1">
			<div class="ourTime_box2">
				<img src="/yuanku/img/wz.jpg" width="60px" height="60px" /><br />
				<span>文志</span>
				<p>毕业于国防科技学院</p>
				<p>负责前端二三级页面设计</p>
			</div>
		</div>
		<div class="ourTime_box1">
			<div class="ourTime_box2">
				<img src="/yuanku/img/yxr.jpg" width="60px" height="60px" /><br />
				<span>杨鑫润</span>
				<p>毕业于广东外语外贸大学</p>
				<p>负责后台话题管理，话题类别管理，资讯管理模块，前端页面代码</p>
			</div>
		</div>
		<div class="ourTime_box1">
			<div class="ourTime_box2">
				<img src="/yuanku/img/lwt.jpg" width="60px" height="60px" /><br />
				<span>李文婷</span>
				<p>毕业于广东外语外贸大学</p>
				<p>负责评论管理、登录模块，前端页面代码</p>
			</div>
		</div>
		<div class="ourTime_box1">
			<div class="ourTime_box2">
				<img src="/yuanku/img/WZH.jpg" width="60px" height="60px" /><br />
				<span>吴作鸿</span>
				<p>毕业于广东技术师范学院</p>
				<p>负责同步微信用户管理</p>
			</div>
		</div>
		<div class="ourTime_box1">
			<div class="ourTime_box2">
				<img src="/yuanku/img/CXJ.jpg" width="60px" height="60px" /><br />
				<span>陈喜均</span>
				<p>毕业于广东交通职业技术学院</p>
				<p>负责评论管理、资讯模块，前端页面代码</p>
			</div>
		</div>
		<div class="ourTime_box1">
			<div class="ourTime_box2">
				<img src="/yuanku/img/ZGY.jpg" width="60px" height="60px" /><br />
				<span>张广裕</span>
				<p>毕业于华南农业大学</p>
				<p>负责微信群发消息、自定义菜单，自动回复后台代码</p>
			</div>
		</div>
		<div class="ourTime_box1">
			<div class="ourTime_box2">
				<img src="/yuanku/img/ZMC.jpg" width="60px" height="60px" /><br />
				<span>郑木灿</span>
				<p>毕业于仲恺农业工程学院</p>
				<p>负责前端页面代码，前台、后台代码bug修改，用户访问权限</p>
			</div>
		</div>
		<div class="ourTime_box1">
			<div class="ourTime_box2">
				<img src="/yuanku/img/YTM.jpg" width="60px" height="60px" /><br />
				<span>杨天明</span>
				<p>毕业于广东技术师范学院</p>
				<p>负责后台页面代码BUG修改，后台绑定微信会员</p>
			</div>
		</div>
		<div class="ourTime_box1">
			<div class="ourTime_box2">
				<img src="/yuanku/img/CXT.jpg" width="60px" height="60px" /><br />
				<span>陈新天</span>
				<p>毕业于华南农业大学</p>
				<p>负责自动回复、抽奖小游戏</p>
			</div>
		</div>
	</body>
</html>